function Ball.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push pointer 0
return
function Ball.move 0
push argument 0
pop pointer 0
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.getx 0
push argument 0
pop pointer 0
push this 0
return
function Ball.gety 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getr 0
push argument 0
pop pointer 0
push this 4
return
function Ball.flipvx 0
push argument 0
pop pointer 0
push constant 0
push this 2
sub
pop this 2
push constant 0
return
function Ball.flipvy 0
push argument 0
pop pointer 0
push constant 0
push this 3
sub
pop this 3
push constant 0
return
